header{
  background-color: #82aee8;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
  font-weight: 800;
}

main{
  padding: 0 12px;
  margin: 0 12px;
  min-height: 80dvh;
}
